.block {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 870px;

  .item:nth-child(n+2) {
    margin-top: 25px;
  }

  .line {
    display: flex;

    .item {
      margin-top: 0;
      &:nth-child(n+2) {
        margin-left: 20px;
      }
    }

  }

}