@import "../../../../../../../../../../core/scss/vars";
@import "../../../../../../../../../../core/scss/mixins/fluid-font-size";
@import "../../../../../../../../../../core/scss/mixins/media";

.textarea {
  display: flex;
  background-color: $empty;
  color: $white;
  outline: none;
  border: 2px solid $empty;
  font-family: $f-bold;
  //overflow: hidden;
  //text-overflow: ellipsis;
  resize: none;
  overflow-wrap: anywhere;
  white-space: pre-wrap;

  //max-width: 800px;
  width: 100%;
  //height: auto;
  font-size: $fs-48;
  border-radius: 10px;
  transition: all .1s;
  @include fluidFontSize($fs-20, $fs-64, $sm-mobile-width, 2000px, $fs-32);

  &:hover,
  &:focus {
    border-color: $purple;
  }
}

.fluid-font-size {

}