@import "../../../../../../../../../../../../../../../core/scss/vars";

.card {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: all .2s;
  border: 3px solid $empty;

  &:hover {
    border-color: $white;
  }
}